<a href="https://colab.research.google.com/github/n032dcm-crypto/python9am/blob/main/python9am.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON BASICS- PRINT FUNCTION, COMMENTS AND VARIABLES

In [ ]:
#python basics


print("hello world")
#hi am wrIting code for hello world

In [ ]:
#comments
'''hey
dear
 one '''
"""hello world
dear screen
end."""
#hi i am writing code for hello world

In [ ]:
#python basics-task

print('                                       BIO DATA                                        ')


print('             ')
print('             ')
print('             ')

print('     NAME : NIKITA SHARMA ')
print('     AGE : 26 ')
print('     GENDER : FEMALE ')
print('     DATE OF BIRTH: 26JULY,1999 ')
print("     FATHER'S NAME: MR.ANIL KUMAR " )
print("     MOTHER'S NAME: MRS.SUMAN " )
print('     LANGUAGES KNOWN : HINDI, ENGLISH, PUNJABI, FRENCH ')
print('     NATIONALITY : INDIA ')
print('     RELIGION : HINDUISM')
print('     QUALIFICATION: BCA, MCA ')
print('     EXPERIENCE : WORKED AS AN INTERN AT TOXCL TECHNOLOGIES, WORKED AS A SENIOR DEVELOPER AT BYTES TECH. ')
print('     MOBILE NUMBER : 9887854525 ')
print('     EMAIL ID : n2dm@gmail.com ')
print('     ADDRESS : 234, SECTOR-12C, MAIN MARKET, LUDHIANA ')
print('     MARITAL STATUS : UNMARRIED ')
print('             ')
print('             ')



print('                                                                         PLACE :  CHANDIGARH       ')
print('                                                                         DATE :  23 SEPTEMBER,2025 ')
print('                                                                         SIGNATURE :  NIKITA S.    ')
print('             ')
print('             ')

                                       BIO DATA



     NAME : NIKITA SHARMA
     AGE : 26
     GENDER : FEMALE
     DATE OF BIRTH: 26JULY,1999
     FATHER'S NAME: MR.ANIL KUMAR
     MOTHER'S NAME: MRS.SUMAN
     LANGUAGES KNOWN : HINDI, ENGLISH, PUNJABI, FRENCH
     NATIONALITY : INDIA
     RELIGION : HINDUISM
     QUALIFICATION: BCA, MCA
     EXPERIENCE : WORKED AS AN INTERN AT TOXCL TECHNOLOGIES, WORKED AS A SENIOR DEVELOPER AT BYTES TECH.
     MOBILE NUMBER : 9887854525
     EMAIL ID : n2dm@gmail.com
     ADDRESS : 234, SECTOR-12C, MAIN MARKET, LUDHIANA
     MARITAL STATUS : UNMARRIED


                                                                         PLACE :  CHANDIGARH
                                                                         DATE :  23 SEPTEMBER,2025
                                                                         SIGNATURE :  NIKITA S.

In [ ]:
#TASK- BIODATA USING VARIABLES

name='NIKITA SHARMA'
age=26
gen='FEMALE'
dob='26 JULY,1999'
fnam='MR.ANIL KUMAR'
mnam='MRS.SUMAN'
lang1='HINDI,'
lang2='ENGLISH,'
lang3='PUNJABI,'
lang4='FRENCH'
nat='INDIAN'
rel= 'HINDUISM'
qual='BCA, MCA'
exp='WORKED AS AN INTERN AT TOXCL TECH., WORKED AS A SENIOR DEVELOPER AT BYTES TECH.'
mob=9887854525
mail='n2dm@gmail.com'
add='234, SECTOR-12C, MAIN MARKET, LUDHIANA'
marrd='FALSE'


print('                                       BIO DATA                                        ')


print('             ')
print('             ')
print('             ')

print('     NAME : ', name)
print('     AGE : ', age)
print('     GENDER : ', gen)
print('     DATE OF BIRTH: ', dob)
print("     FATHER'S NAME: " , fnam)
print("     MOTHER'S NAME: ", mnam )
print('     LANGUAGES KNOWN : ', lang1, lang2, lang3, lang4)
print('     NATIONALITY : ', nat)
print('     RELIGION :', rel)
print('     QUALIFICATION: ', qual)
print('     EXPERIENCE :  ', exp)
print('     MOBILE NUMBER : ', mob)
print('     EMAIL ID : ', mail)
print('     ADDRESS : ', add)
print('     MARITAL STATUS : MARRIED : ', marrd)
print('             ')
print('             ')



print('                                                                         PLACE :  CHANDIGARH       ')
print('                                                                         DATE :  24 SEPTEMBER,2025 ')
print('                                                                         SIGNATURE :  NIKITA S.    ')
print('             ')
print('             ')

                                       BIO DATA



     NAME :  NIKITA SHARMA
     AGE :  26
     GENDER :  FEMALE
     DATE OF BIRTH:  26 JULY,1999
     FATHER'S NAME:  MR.ANIL KUMAR
     MOTHER'S NAME:  MRS.SUMAN
     LANGUAGES KNOWN :  HINDI, ENGLISH, PUNJABI, FRENCH
     NATIONALITY :  INDIAN
     RELIGION : HINDUISM
     QUALIFICATION:  BCA, MCA
     EXPERIENCE :   WORKED AS AN INTERN AT TOXCL TECH., WORKED AS A SENIOR DEVELOPER AT BYTES TECH.
     MOBILE NUMBER :  9887854525
     EMAIL ID :  n2dm@gmail.com
     ADDRESS :  234, SECTOR-12C, MAIN MARKET, LUDHIANA
     MARITAL STATUS : MARRIED :  FALSE


                                                                         PLACE :  CHANDIGARH
                                                                         DATE :  24 SEPTEMBER,2025
                                                                         SIGNATURE :  NIKITA S.

# VARIABLES AND INPUT FUNCTION

In [ ]:
#TASK- BILL USING VARIABLES
i1='AVON PAIN BRUSH SET'
i2="ARTIST'S SPATULA"
i3='CAMLIN OIL PAINTS'
i4='ART CANVAS BOARD'
i5='APSARA SHADING PENCILS'
p1=300
p2=65
p3=380
p4=560
p5=120

print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('                                                                                                                             ')
print('STATIONERY ITEM','                      PRICE')
print('                                                                                                                                                                   '     )
print('                                                                                                                             ')
print( i1,'                ', 'Rs.',p1)
print( i2,'                   ','Rs. ', p2)
print( i3, '                  ','Rs.',p3)
print( i4,'                   ','Rs.', p4)
print( i5,'             ','Rs.', p5)
print('                                                                                                                              ')
print( 'TOTAL :                             ', 'Rs.',                       p1+p2+p3+p4+p5   )

print('')
print('')
print('')
print('')

                                                                          XYZ BOOK STORE
                                                                             RECEIPT

STATIONERY ITEM                       PRICE


AVON PAIN BRUSH SET                  Rs. 300
ARTIST'S SPATULA                     Rs.  65
CAMLIN OIL PAINTS                    Rs. 380
ART CANVAS BOARD                     Rs. 560
APSARA SHADING PENCILS               Rs. 120

TOTAL :                              Rs. 1425

In [ ]:
#TASK- BILL USING VARIABLES WITH DISCOUNT ON TOTAL AMOUNT
i1='AVON PAIN BRUSH SET'
i2="ARTIST'S SPATULA"
i3='CAMLIN OIL PAINTS'
i4='ART CANVAS BOARD'
i5='APSARA SHADING PENCILS'
p1=300
p2=65
p3=380
p4=560
p5=120
tot=p1+p2+p3+p4+p5
dct=20
disct=dct/100*tot
totpay=tot-disct

print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('                                                                                                                             ')
print('STATIONERY ITEM','                      PRICE')
print('                                                                                                                                                                   '     )
print('                                                                                                                             ')
print( i1,'                ', 'Rs.',p1)
print( i2,'                   ','Rs. ', p2)
print( i3, '                  ','Rs.',p3)
print( i4,'                   ','Rs.', p4)
print( i5,'             ','Rs.', p5)
print('                                                                                                                              ')
print( 'TOTAL :                             ', 'Rs.',                       tot   )

print('DISCOUNT: (20%)                     ', 'Rs.',disct)

print('TOTAL PAYABLE AMOUNT :              ','Rs.', totpay)
print('')
print('')
print('')
print('')

                                                                          XYZ BOOK STORE
                                                                             RECEIPT

STATIONERY ITEM                       PRICE


AVON PAIN BRUSH SET                  Rs. 300
ARTIST'S SPATULA                     Rs.  65
CAMLIN OIL PAINTS                    Rs. 380
ART CANVAS BOARD                     Rs. 560
APSARA SHADING PENCILS               Rs. 120

TOTAL :                              Rs. 1425
DISCOUNT: (20%)                      Rs. 285.0
TOTAL PAYABLE AMOUNT :               Rs. 1140.0

In [ ]:
#TASK- DISCOUNTED BILL USING VARIABLES WITH FIXED DISCOUNTS ON EACH PRODUCT AND TOTAL AMOUNT
i1='AVON PAIN BRUSH SET'
i2="ARTIST'S SPATULA"
i3='CAMLIN OIL PAINTS'
i4='ART CANVAS BOARD'
i5='APSARA SHADING PENCILS'
p1=300
p2=65
p3=380
p4=560
p5=120
pdct=5/100
p1dt=pdct*p1
p11=p1-p1dt
p2dt=pdct*p2
p22=p2-p2dt
p3dt=pdct*p3
p33=p3-p3dt
p4dt=pdct*p4
p44=p4-p4dt
p5dt=pdct*p5
p55=p5-p5dt
tot=p11+p22+p33+p44+p55
dct=20/100
disct=dct*tot
totpay=tot-disct

print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('')
print('')
print('   **NOTE:NOW SAVE AN EXTRA 5% ON ALL PRODUCTS.  ')
print('')
print('STATIONERY ITEM','                      PRICE', '                      DISCOUNTED PRICE')
print('')
print('                                                                                                                                                                   '     )
print('                                                                                                                             ')
print( i1,'                ', 'Rs.',p1,'                       Rs.',p11)
print( i2,'                   ','Rs. ', p2,'                       Rs.',p22)
print( i3, '                  ','Rs.',p3,'                       Rs.',p33)
print( i4,'                   ','Rs.', p4,'                       Rs.',p44)
print( i5,'             ','Rs.', p5,'                       Rs.',p55)
print('                                                                                                                              ')
print( 'TOTAL :                                                            ', 'Rs.',                       tot   )

print('DISCOUNT: (20%)                                                    ', 'Rs.',disct)

print('TOTAL PAYABLE AMOUNT :                                             ','Rs.', totpay)
print('')
print('')
print('')
print('')

                                                                          XYZ BOOK STORE
                                                                             RECEIPT


   **NOTE:NOW SAVE AN EXTRA 5% ON ALL PRODUCTS.

STATIONERY ITEM                       PRICE                       DISCOUNTED PRICE



AVON PAIN BRUSH SET                  Rs. 300                        Rs. 285.0
ARTIST'S SPATULA                     Rs.  65                        Rs. 61.75
CAMLIN OIL PAINTS                    Rs. 380                        Rs. 361.0
ART CANVAS BOARD                     Rs. 560                        Rs. 532.0
APSARA SHADING PENCILS               Rs. 120                        Rs. 114.0

TOTAL :                                                             Rs. 1353.75
DISCOUNT: (20%)                                                     Rs. 270.75
TOTAL PAYABLE AMOUNT :                                              Rs. 1083.0

In [ ]:
#INPUT FUNCTION


item1=input('enter your name:  ')
print(item1)

item2=int(input('enter the price:  '))
print(item2)

In [ ]:
#TASK- DISCOUNTED BILL USING VARIABLES AND INPUT FUNCTION WITH VARIABLE DISCOUNTS ON EACH PRODUCT AND TOTAL AMOUNT.



print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('')
print('')
print('   **NOTE:NOW YOU CAN SAVE UPTO AN EXTRA 15% ON ALL PRODUCTS.  ')
print('')

print ('ORDER DETAILS :')
print('')
print('')
print('1.')
prod1=input('  NAME OF FIRST PRODUCT : ')
price_of_product1=float(input('  PRICE OF FIRST PRODUCT : '))
discount_prod1=float(input('  DISCOUNT(IN %) ON FIRST PRODUCT : '))
p1=(discount_prod1/100)*price_of_product1
disctp_prod1=price_of_product1-p1
print('')
print('2.')
prod2=input('  NAME OF SECOND PRODUCT : ')
price_of_product2=float(input("  PRICE OF SECOND PRODUCT : "))
discount_prod2=float(input('  DISCOUNT(IN %) ON SECOND PRODUCT : '))
p2=(discount_prod2/100)*price_of_product2
disctp_prod2=price_of_product2-p2
print('')
print('3.')
prod3=input('  NAME OF THIRD PRODUCT :  ')
price_of_product3=float(input("  PRICE OF THIRD PRODUCT :  "))
discount_prod3=float(input('  DISCOUNT(IN %) ON THIRD PRODUCT :  '))
p3=(discount_prod3/100)*price_of_product3
disctp_prod3=price_of_product3-p3
print('')
print('4.')
prod4=input('  NAME OF FOURTH PRODUCT : ')
price_of_product4=float(input("  PRICE OF FOURTH PRODUCT :  "))
discount_prod4=float(input('  DISCOUNT(IN %) ON FOURTH PRODUCT : '))
p4=(discount_prod4/100)*price_of_product4
disctp_prod4=price_of_product4-p4
print('')
print('5.')
prod5=input('  NAME OF FIFTH PRODUCT : ')
price_of_product5=float(input('  PRICE OF FIFTH PRODUCT : '))
discount_prod5=float(input('  DISCOUNT(IN %) ON FIFTH PRODUCT : '))
p5=(discount_prod5/100)*price_of_product5
disctp_prod5=price_of_product5-p5
print('')

tot=disctp_prod1+disctp_prod2+disctp_prod3+disctp_prod4+disctp_prod5
tot_dsct=float(input('  DISCOUNT ON THE COMPLETE ORDER (in %) :  '))
disct=tot*(tot_dsct/100)
totpay=tot-disct
print('')
deliv=bool(input(' ELIGIBLE FOR FREE DELIVERY : '))
print('')
print('')
print ('ORDER SUMMARY :')
print('STATIONERY ITEM','                      PRICE', '                      DISCOUNT ON THE PRODUCT','                      DISCOUNTED PRICE')
print('')
print('                                                                                                                                                                   '     )
print('                                                                                                                                                                    ')
print( prod1, '               ','Rs.',price_of_product1,'                          '  ,  discount_prod1,'%' ,'                                   Rs.',disctp_prod1)
print( prod2 ,'                   ','Rs.',price_of_product2, '                           ' , discount_prod2,'%', '                                   Rs.',disctp_prod2)
print(prod3 ,'                  ','Rs.',price_of_product3, '                          ' , discount_prod3,'%', '                                   Rs.',disctp_prod3)
print( prod4, '                   ','Rs.',price_of_product4, '                          '  ,discount_prod4,'%', '                                  Rs.',disctp_prod4)
print( prod5, '             ','Rs.',price_of_product5,'                          ' , discount_prod5,'%', '                                   Rs.',disctp_prod5)
print('')
print('')
print ('ORDER TOTAL :')
print('                                                                                                                              ')
print( 'TOTAL : ','                                                               ', 'Rs.',               tot   )
print('')
print('DISCOUNT:', '                                                              ',tot_dsct ,'%'   )
print('DISCOUNTED PRICE:  ', '                                              .     ','Rs.',disct)

print('TOTAL PAYABLE AMOUNT :                                                  ','Rs.', totpay)
print('')
print('')
print('')
print('')

In [ ]:
#TASK- DISCOUNTED BILL USING VARIABLES AND INPUT FUNCTION WITH VARIABLE DISCOUNTS ON EACH PRODUCT AND TOTAL AMOUNT.



print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('')
print('')
print('   **NOTE:NOW YOU CAN SAVE UPTO AN EXTRA 15% ON ALL PRODUCTS.  ')
print('')

print ('ORDER DETAILS :')
print('')
print('')
print('1.')
prod1=input('  NAME OF FIRST PRODUCT : ')
price_of_product1=float(input('  PRICE OF FIRST PRODUCT : '))
discount_prod1=float(input('  DISCOUNT(IN %) ON FIRST PRODUCT : '))
p1=(discount_prod1/100)*price_of_product1
disctp_prod1=price_of_product1-p1
print('')
print('2.')
prod2=input('  NAME OF SECOND PRODUCT : ')
price_of_product2=float(input("  PRICE OF SECOND PRODUCT : "))
discount_prod2=float(input('  DISCOUNT(IN %) ON SECOND PRODUCT : '))
p2=(discount_prod2/100)*price_of_product2
disctp_prod2=price_of_product2-p2
print('')
print('3.')
prod3=input('  NAME OF THIRD PRODUCT :  ')
price_of_product3=float(input("  PRICE OF THIRD PRODUCT :  "))
discount_prod3=float(input('  DISCOUNT(IN %) ON THIRD PRODUCT :  '))
p3=(discount_prod3/100)*price_of_product3
disctp_prod3=price_of_product3-p3
print('')
print('4.')
prod4=input('  NAME OF FOURTH PRODUCT : ')
price_of_product4=float(input("  PRICE OF FOURTH PRODUCT :  "))
discount_prod4=float(input('  DISCOUNT(IN %) ON FOURTH PRODUCT : '))
p4=(discount_prod4/100)*price_of_product4
disctp_prod4=price_of_product4-p4
print('')
print('5.')
prod5=input('  NAME OF FIFTH PRODUCT : ')
price_of_product5=float(input('  PRICE OF FIFTH PRODUCT : '))
discount_prod5=float(input('  DISCOUNT(IN %) ON FIFTH PRODUCT : '))
p5=(discount_prod5/100)*price_of_product5
disctp_prod5=price_of_product5-p5
print('')

tot=disctp_prod1+disctp_prod2+disctp_prod3+disctp_prod4+disctp_prod5
tot_dsct=float(input('  DISCOUNT ON THE COMPLETE ORDER (in %) :  '))
disct=tot*(tot_dsct/100)
totpay=tot-disct
print('')
deliv=bool(input(' ELIGIBLE FOR FREE DELIVERY : '))
print('')
print('')
print ('ORDER SUMMARY :')
print('STATIONERY ITEM','                      PRICE', '                      DISCOUNT ON THE PRODUCT','                      DISCOUNTED PRICE')
print('')
print('                                                                                                                                                                   '     )
print('                                                                                                                                                                    ')
print( prod1, '               ','Rs.',price_of_product1,'                          '  ,  discount_prod1,'%' ,'                                   Rs.',disctp_prod1)
print( prod2 ,'                   ','Rs.',price_of_product2, '                           ' , discount_prod2,'%', '                                   Rs.',disctp_prod2)
print(prod3 ,'                  ','Rs.',price_of_product3, '                          ' , discount_prod3,'%', '                                   Rs.',disctp_prod3)
print( prod4, '                   ','Rs.',price_of_product4, '                          '  ,discount_prod4,'%', '                                  Rs.',disctp_prod4)
print( prod5, '             ','Rs.',price_of_product5,'                          ' , discount_prod5,'%', '                                   Rs.',disctp_prod5)
print('')
print('')
print ('ORDER TOTAL :')
print('                                                                                                                              ')
print( 'TOTAL : ','                                                               ', 'Rs.',               tot   )
print('')
print('DISCOUNT:', '                                                              ',tot_dsct ,'%'   )
print('DISCOUNTED PRICE:  ', '                                              .     ','Rs.',disct)

print('TOTAL PAYABLE AMOUNT :                                                  ','Rs.', totpay)
print('')
print('')
print('  DELIVERY DETAILS : ')
print('')
fnam=input('ENTER FIRST NAME :')
lnam=input('ENTER LAST NAME :')
mob=int(input('ENTER MOBILE NUMBER :'))
add=input('ENTER STREET ADDRESS :')
city=input('ENTER CITY :')
dist=input('ENTER DISTRICT :')
stat=input('ENTER STATE :')
pin=input('ENTER PIN CODE :')
print('')
print('  PAYMENT DETAILS : ')
print('')
pay=input('ENTER PAYMENT METHOD :')
print('')

# CALCULATION OF SIMPLE INTEREST

# TASKS

# CONDITIONAL STATEMENTS: IF-ELSE

# TASKS

# CALCULATION OF LEAP YEAR

#TASKS - TRAFFIC ROUND-ABOUT

# LOOPS : FOR LOOP WITH RANGE FUNCTION

In [ ]:
#FOR LOOP WITH RANGE FUNCTION { RANGE FUNCTION SYNTAX-  range(starting value, last value, difference between any 2 values)    }
for i in range(0,10):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#RANGE FUNCTION [SYNTAX-  range(starting value, last value, difference between any 2 values)   ]

for i in range(1,26,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [ ]:
#TASK- ODD NUMBERS FROM 1 TO 26

for i in range(1,26,2):
    print("odd",i)

odd 1
odd 3
odd 5
odd 7
odd 9
odd 11
odd 13
odd 15
odd 17
odd 19
odd 21
odd 23
odd 25

In [ ]:
#TASK- EVEN NUMBERS FROM 1 TO 26

for i in range(0,26,2):
  print('even', i)

even 0
even 2
even 4
even 6
even 8
even 10
even 12
even 14
even 16
even 18
even 20
even 22
even 24

#CALCULATION OF SUCCESIVE SUM

In [26]:
#CALCULATION OF SUCCESIVE SUM (PRINTING VALUE OF EACH SUCCESSIVE SUM)

#[HERE,WE WRITE PRINT STATEMENT UNDER SUM VARIABLE]
#1+2+3+4+..+11

sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#CALCULATION OF SUCCESIVE SUM (PRINTING ONLY FINAL VALUE OF SUM)

#[HERE,WE WRITE PRINT STATEMENT UNDER FOR STATEMENT]

#1+2+3+4+..+11

sum=0
for i in range(1,11):
  sum=sum+i
print('sum:',sum)

sum: 55

In [ ]:
#HOMEWORK TASKS
#1    2+4+6+...+52 = 2+4+6+...+50+1

sum=1
for i in range(2,51,2):
  sum=sum+i
  print(sum)

print('')
print('')

sum=1
for i in range(2,51,2):
  sum=sum+i
print('sum:',sum)

3
7
13
21
31
43
57
73
91
111
133
157
183
211
241
273
307
343
381
421
463
507
553
601
651


sum: 651

In [ ]:
#2      1+8+15+22+29+...+100 = 1+8+15+22+29+...+99+1

sum=1
for i in range(1,100,7):
  sum=sum+i
  print(sum)


print('')
print('')

sum=1
for i in range(1,100,7):
     sum=sum+i
print('sum:',sum)

2
10
25
47
76
112
155
205
262
326
397
475
560
652
751


sum: 751

In [ ]:
#3      3+6+9+...+50 = 3+6+9+...+48+2

sum=2
for i in range(3,51,3):
  sum=sum+i
  print(sum)

print('')
print('')

sum=2
for i in range(3,51,3):
  sum=sum+i
print('sum:', sum)

5
11
20
32
47
65
86
110
137
167
200
236
275
317
362
410


sum: 410

# CALCULATION OF FACTORIAL

In [ ]:
# CALCULATION OF FACTORIAL
fact=1
for i in range(1,6):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

#SUM OF FACTORIAL VALUES

In [25]:
#HOMEWORK TASKS

#1!+2!+3!+4!+...+6!
s=0
for j in range(1,7):
  f=1
  for i in range(1,j+1):
    f=f*i
  s=s+f
  print(s)

1
3
9
33
153
873

In [24]:
# 4!+5!+6!+..+10!

sum=0
for j in range(4,11):
  fact=1
  for i in range(1,j+1):
    fact=fact*i
  sum=sum+fact
  print(sum)

24
144
864
5904
46224
409104
4037904

In [23]:
# 1!+3!+5!+7!+9!

sum=0
for j in range(1,10,2):
  fact=1
  for i in range(1,j+1):
    fact=fact*i
  sum=sum+fact
  print(sum)

1
7
127
5167
368047

In [22]:
# 1!+2!+3!+4!+5!

s=0
for j in range(1,6):
  f=1
  for i in range(1,j+1):
    f=f*i
  s=s+f
  print(s)

1
3
9
33
153

#FIBONACCI SERIES

In [21]:
# FIBONACCI SERIES
#  0,1,1,2,3,5,8,13,21,34

t1=0
t2=1
n=int(input("enter a number  : "))
print(t1)
print(t2)
for i in range(3,n+1):
  # or for i in range(1,n-1):
  t3=t1+t2
  t1=t2
  t2=t3
  print(t3)

enter a number  : 10
0
1
1
2
3
5
8
13
21
34

#CALCULATION OF HCF AND LCM

In [13]:
# HCF AND LCM

# HCF OF 7,9

a=7
b=9
if a>b:
 small=b
else:
 small=a
for i in range(1, small+1):
    if a%i==0 and b%i==0:
      hcf=i
print(hcf)

1

In [12]:
# HCF OF 10,20

a=10
b=20
if a>b:
 small=b
else:
 small=a
for i in range(1, small+1):
    if a%i==0 and b%i==0:
      hcf=i
print(hcf)

10

In [40]:
# LCM OF 7,9

a=7
b=9

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

63

In [39]:
# LCM OF 10,20
a=10
b=20

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

20

In [41]:

# LCM OF 15,20

a=15
b=20

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

60

In [42]:
# LCM OF 150,225

a=150
b=225

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

450