<a href="https://colab.research.google.com/github/n032dcm-crypto/python9am/blob/main/python9am.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON BASICS- PRINT FUNCTION, COMMENTS AND VARIABLES

In [ ]:
#python basics


print("hello world")
#hi am wrIting code for hello world

In [ ]:
#comments
'''hey
dear
 one '''
"""hello world
dear screen
end."""
#hi i am writing code for hello world

In [ ]:
#python basics-task

print('                                       BIO DATA                                        ')


print('             ')
print('             ')
print('             ')

print('     NAME : NIKITA SHARMA ')
print('     AGE : 26 ')
print('     GENDER : FEMALE ')
print('     DATE OF BIRTH: 26JULY,1999 ')
print("     FATHER'S NAME: MR.ANIL KUMAR " )
print("     MOTHER'S NAME: MRS.SUMAN " )
print('     LANGUAGES KNOWN : HINDI, ENGLISH, PUNJABI, FRENCH ')
print('     NATIONALITY : INDIA ')
print('     RELIGION : HINDUISM')
print('     QUALIFICATION: BCA, MCA ')
print('     EXPERIENCE : WORKED AS AN INTERN AT TOXCL TECHNOLOGIES, WORKED AS A SENIOR DEVELOPER AT BYTES TECH. ')
print('     MOBILE NUMBER : 9887854525 ')
print('     EMAIL ID : n2dm@gmail.com ')
print('     ADDRESS : 234, SECTOR-12C, MAIN MARKET, LUDHIANA ')
print('     MARITAL STATUS : UNMARRIED ')
print('             ')
print('             ')



print('                                                                         PLACE :  CHANDIGARH       ')
print('                                                                         DATE :  23 SEPTEMBER,2025 ')
print('                                                                         SIGNATURE :  NIKITA S.    ')
print('             ')
print('             ')

                                       BIO DATA



     NAME : NIKITA SHARMA
     AGE : 26
     GENDER : FEMALE
     DATE OF BIRTH: 26JULY,1999
     FATHER'S NAME: MR.ANIL KUMAR
     MOTHER'S NAME: MRS.SUMAN
     LANGUAGES KNOWN : HINDI, ENGLISH, PUNJABI, FRENCH
     NATIONALITY : INDIA
     RELIGION : HINDUISM
     QUALIFICATION: BCA, MCA
     EXPERIENCE : WORKED AS AN INTERN AT TOXCL TECHNOLOGIES, WORKED AS A SENIOR DEVELOPER AT BYTES TECH.
     MOBILE NUMBER : 9887854525
     EMAIL ID : n2dm@gmail.com
     ADDRESS : 234, SECTOR-12C, MAIN MARKET, LUDHIANA
     MARITAL STATUS : UNMARRIED


                                                                         PLACE :  CHANDIGARH
                                                                         DATE :  23 SEPTEMBER,2025
                                                                         SIGNATURE :  NIKITA S.

In [ ]:
#TASK- BIODATA USING VARIABLES

name='NIKITA SHARMA'
age=26
gen='FEMALE'
dob='26 JULY,1999'
fnam='MR.ANIL KUMAR'
mnam='MRS.SUMAN'
lang1='HINDI,'
lang2='ENGLISH,'
lang3='PUNJABI,'
lang4='FRENCH'
nat='INDIAN'
rel= 'HINDUISM'
qual='BCA, MCA'
exp='WORKED AS AN INTERN AT TOXCL TECH., WORKED AS A SENIOR DEVELOPER AT BYTES TECH.'
mob=9887854525
mail='n2dm@gmail.com'
add='234, SECTOR-12C, MAIN MARKET, LUDHIANA'
marrd='FALSE'


print('                                       BIO DATA                                        ')


print('             ')
print('             ')
print('             ')

print('     NAME : ', name)
print('     AGE : ', age)
print('     GENDER : ', gen)
print('     DATE OF BIRTH: ', dob)
print("     FATHER'S NAME: " , fnam)
print("     MOTHER'S NAME: ", mnam )
print('     LANGUAGES KNOWN : ', lang1, lang2, lang3, lang4)
print('     NATIONALITY : ', nat)
print('     RELIGION :', rel)
print('     QUALIFICATION: ', qual)
print('     EXPERIENCE :  ', exp)
print('     MOBILE NUMBER : ', mob)
print('     EMAIL ID : ', mail)
print('     ADDRESS : ', add)
print('     MARITAL STATUS : MARRIED : ', marrd)
print('             ')
print('             ')



print('                                                                         PLACE :  CHANDIGARH       ')
print('                                                                         DATE :  24 SEPTEMBER,2025 ')
print('                                                                         SIGNATURE :  NIKITA S.    ')
print('             ')
print('             ')

                                       BIO DATA



     NAME :  NIKITA SHARMA
     AGE :  26
     GENDER :  FEMALE
     DATE OF BIRTH:  26 JULY,1999
     FATHER'S NAME:  MR.ANIL KUMAR
     MOTHER'S NAME:  MRS.SUMAN
     LANGUAGES KNOWN :  HINDI, ENGLISH, PUNJABI, FRENCH
     NATIONALITY :  INDIAN
     RELIGION : HINDUISM
     QUALIFICATION:  BCA, MCA
     EXPERIENCE :   WORKED AS AN INTERN AT TOXCL TECH., WORKED AS A SENIOR DEVELOPER AT BYTES TECH.
     MOBILE NUMBER :  9887854525
     EMAIL ID :  n2dm@gmail.com
     ADDRESS :  234, SECTOR-12C, MAIN MARKET, LUDHIANA
     MARITAL STATUS : MARRIED :  FALSE


                                                                         PLACE :  CHANDIGARH
                                                                         DATE :  24 SEPTEMBER,2025
                                                                         SIGNATURE :  NIKITA S.

# VARIABLES AND INPUT FUNCTION

In [ ]:
#TASK- BILL USING VARIABLES
i1='AVON PAIN BRUSH SET'
i2="ARTIST'S SPATULA"
i3='CAMLIN OIL PAINTS'
i4='ART CANVAS BOARD'
i5='APSARA SHADING PENCILS'
p1=300
p2=65
p3=380
p4=560
p5=120

print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('                                                                                                                             ')
print('STATIONERY ITEM','                      PRICE')
print('                                                                                                                                                                   '     )
print('                                                                                                                             ')
print( i1,'                ', 'Rs.',p1)
print( i2,'                   ','Rs. ', p2)
print( i3, '                  ','Rs.',p3)
print( i4,'                   ','Rs.', p4)
print( i5,'             ','Rs.', p5)
print('                                                                                                                              ')
print( 'TOTAL :                             ', 'Rs.',                       p1+p2+p3+p4+p5   )

print('')
print('')
print('')
print('')

                                                                          XYZ BOOK STORE
                                                                             RECEIPT

STATIONERY ITEM                       PRICE


AVON PAIN BRUSH SET                  Rs. 300
ARTIST'S SPATULA                     Rs.  65
CAMLIN OIL PAINTS                    Rs. 380
ART CANVAS BOARD                     Rs. 560
APSARA SHADING PENCILS               Rs. 120

TOTAL :                              Rs. 1425

In [ ]:
#TASK- BILL USING VARIABLES WITH DISCOUNT ON TOTAL AMOUNT
i1='AVON PAIN BRUSH SET'
i2="ARTIST'S SPATULA"
i3='CAMLIN OIL PAINTS'
i4='ART CANVAS BOARD'
i5='APSARA SHADING PENCILS'
p1=300
p2=65
p3=380
p4=560
p5=120
tot=p1+p2+p3+p4+p5
dct=20
disct=dct/100*tot
totpay=tot-disct

print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('                                                                                                                             ')
print('STATIONERY ITEM','                      PRICE')
print('                                                                                                                                                                   '     )
print('                                                                                                                             ')
print( i1,'                ', 'Rs.',p1)
print( i2,'                   ','Rs. ', p2)
print( i3, '                  ','Rs.',p3)
print( i4,'                   ','Rs.', p4)
print( i5,'             ','Rs.', p5)
print('                                                                                                                              ')
print( 'TOTAL :                             ', 'Rs.',                       tot   )

print('DISCOUNT: (20%)                     ', 'Rs.',disct)

print('TOTAL PAYABLE AMOUNT :              ','Rs.', totpay)
print('')
print('')
print('')
print('')

                                                                          XYZ BOOK STORE
                                                                             RECEIPT

STATIONERY ITEM                       PRICE


AVON PAIN BRUSH SET                  Rs. 300
ARTIST'S SPATULA                     Rs.  65
CAMLIN OIL PAINTS                    Rs. 380
ART CANVAS BOARD                     Rs. 560
APSARA SHADING PENCILS               Rs. 120

TOTAL :                              Rs. 1425
DISCOUNT: (20%)                      Rs. 285.0
TOTAL PAYABLE AMOUNT :               Rs. 1140.0

In [ ]:
#TASK- DISCOUNTED BILL USING VARIABLES WITH FIXED DISCOUNTS ON EACH PRODUCT AND TOTAL AMOUNT
i1='AVON PAIN BRUSH SET'
i2="ARTIST'S SPATULA"
i3='CAMLIN OIL PAINTS'
i4='ART CANVAS BOARD'
i5='APSARA SHADING PENCILS'
p1=300
p2=65
p3=380
p4=560
p5=120
pdct=5/100
p1dt=pdct*p1
p11=p1-p1dt
p2dt=pdct*p2
p22=p2-p2dt
p3dt=pdct*p3
p33=p3-p3dt
p4dt=pdct*p4
p44=p4-p4dt
p5dt=pdct*p5
p55=p5-p5dt
tot=p11+p22+p33+p44+p55
dct=20/100
disct=dct*tot
totpay=tot-disct

print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('')
print('')
print('   **NOTE:NOW SAVE AN EXTRA 5% ON ALL PRODUCTS.  ')
print('')
print('STATIONERY ITEM','                      PRICE', '                      DISCOUNTED PRICE')
print('')
print('                                                                                                                                                                   '     )
print('                                                                                                                             ')
print( i1,'                ', 'Rs.',p1,'                       Rs.',p11)
print( i2,'                   ','Rs. ', p2,'                       Rs.',p22)
print( i3, '                  ','Rs.',p3,'                       Rs.',p33)
print( i4,'                   ','Rs.', p4,'                       Rs.',p44)
print( i5,'             ','Rs.', p5,'                       Rs.',p55)
print('                                                                                                                              ')
print( 'TOTAL :                                                            ', 'Rs.',                       tot   )

print('DISCOUNT: (20%)                                                    ', 'Rs.',disct)

print('TOTAL PAYABLE AMOUNT :                                             ','Rs.', totpay)
print('')
print('')
print('')
print('')

                                                                          XYZ BOOK STORE
                                                                             RECEIPT


   **NOTE:NOW SAVE AN EXTRA 5% ON ALL PRODUCTS.

STATIONERY ITEM                       PRICE                       DISCOUNTED PRICE



AVON PAIN BRUSH SET                  Rs. 300                        Rs. 285.0
ARTIST'S SPATULA                     Rs.  65                        Rs. 61.75
CAMLIN OIL PAINTS                    Rs. 380                        Rs. 361.0
ART CANVAS BOARD                     Rs. 560                        Rs. 532.0
APSARA SHADING PENCILS               Rs. 120                        Rs. 114.0

TOTAL :                                                             Rs. 1353.75
DISCOUNT: (20%)                                                     Rs. 270.75
TOTAL PAYABLE AMOUNT :                                              Rs. 1083.0

In [ ]:
#INPUT FUNCTION


item1=input('enter your name:  ')
print(item1)

item2=int(input('enter the price:  '))
print(item2)

In [ ]:
#TASK- DISCOUNTED BILL USING VARIABLES AND INPUT FUNCTION WITH VARIABLE DISCOUNTS ON EACH PRODUCT AND TOTAL AMOUNT.



print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('')
print('')
print('   **NOTE:NOW YOU CAN SAVE UPTO AN EXTRA 15% ON ALL PRODUCTS.  ')
print('')

print ('ORDER DETAILS :')
print('')
print('')
print('1.')
prod1=input('  NAME OF FIRST PRODUCT : ')
price_of_product1=float(input('  PRICE OF FIRST PRODUCT : '))
discount_prod1=float(input('  DISCOUNT(IN %) ON FIRST PRODUCT : '))
p1=(discount_prod1/100)*price_of_product1
disctp_prod1=price_of_product1-p1
print('')
print('2.')
prod2=input('  NAME OF SECOND PRODUCT : ')
price_of_product2=float(input("  PRICE OF SECOND PRODUCT : "))
discount_prod2=float(input('  DISCOUNT(IN %) ON SECOND PRODUCT : '))
p2=(discount_prod2/100)*price_of_product2
disctp_prod2=price_of_product2-p2
print('')
print('3.')
prod3=input('  NAME OF THIRD PRODUCT :  ')
price_of_product3=float(input("  PRICE OF THIRD PRODUCT :  "))
discount_prod3=float(input('  DISCOUNT(IN %) ON THIRD PRODUCT :  '))
p3=(discount_prod3/100)*price_of_product3
disctp_prod3=price_of_product3-p3
print('')
print('4.')
prod4=input('  NAME OF FOURTH PRODUCT : ')
price_of_product4=float(input("  PRICE OF FOURTH PRODUCT :  "))
discount_prod4=float(input('  DISCOUNT(IN %) ON FOURTH PRODUCT : '))
p4=(discount_prod4/100)*price_of_product4
disctp_prod4=price_of_product4-p4
print('')
print('5.')
prod5=input('  NAME OF FIFTH PRODUCT : ')
price_of_product5=float(input('  PRICE OF FIFTH PRODUCT : '))
discount_prod5=float(input('  DISCOUNT(IN %) ON FIFTH PRODUCT : '))
p5=(discount_prod5/100)*price_of_product5
disctp_prod5=price_of_product5-p5
print('')

tot=disctp_prod1+disctp_prod2+disctp_prod3+disctp_prod4+disctp_prod5
tot_dsct=float(input('  DISCOUNT ON THE COMPLETE ORDER (in %) :  '))
disct=tot*(tot_dsct/100)
totpay=tot-disct
print('')
deliv=bool(input(' ELIGIBLE FOR FREE DELIVERY : '))
print('')
print('')
print ('ORDER SUMMARY :')
print('STATIONERY ITEM','                      PRICE', '                      DISCOUNT ON THE PRODUCT','                      DISCOUNTED PRICE')
print('')
print('                                                                                                                                                                   '     )
print('                                                                                                                                                                    ')
print( prod1, '               ','Rs.',price_of_product1,'                          '  ,  discount_prod1,'%' ,'                                   Rs.',disctp_prod1)
print( prod2 ,'                   ','Rs.',price_of_product2, '                           ' , discount_prod2,'%', '                                   Rs.',disctp_prod2)
print(prod3 ,'                  ','Rs.',price_of_product3, '                          ' , discount_prod3,'%', '                                   Rs.',disctp_prod3)
print( prod4, '                   ','Rs.',price_of_product4, '                          '  ,discount_prod4,'%', '                                  Rs.',disctp_prod4)
print( prod5, '             ','Rs.',price_of_product5,'                          ' , discount_prod5,'%', '                                   Rs.',disctp_prod5)
print('')
print('')
print ('ORDER TOTAL :')
print('                                                                                                                              ')
print( 'TOTAL : ','                                                               ', 'Rs.',               tot   )
print('')
print('DISCOUNT:', '                                                              ',tot_dsct ,'%'   )
print('DISCOUNTED PRICE:  ', '                                              .     ','Rs.',disct)

print('TOTAL PAYABLE AMOUNT :                                                  ','Rs.', totpay)
print('')
print('')
print('')
print('')

In [ ]:
#TASK- DISCOUNTED BILL USING VARIABLES AND INPUT FUNCTION WITH VARIABLE DISCOUNTS ON EACH PRODUCT AND TOTAL AMOUNT.



print('                                                                          XYZ BOOK STORE                                     ')
print('                                                                             RECEIPT                                         ')
print('')
print('')
print('   **NOTE:NOW YOU CAN SAVE UPTO AN EXTRA 15% ON ALL PRODUCTS.  ')
print('')

print ('ORDER DETAILS :')
print('')
print('')
print('1.')
prod1=input('  NAME OF FIRST PRODUCT : ')
price_of_product1=float(input('  PRICE OF FIRST PRODUCT : '))
discount_prod1=float(input('  DISCOUNT(IN %) ON FIRST PRODUCT : '))
p1=(discount_prod1/100)*price_of_product1
disctp_prod1=price_of_product1-p1
print('')
print('2.')
prod2=input('  NAME OF SECOND PRODUCT : ')
price_of_product2=float(input("  PRICE OF SECOND PRODUCT : "))
discount_prod2=float(input('  DISCOUNT(IN %) ON SECOND PRODUCT : '))
p2=(discount_prod2/100)*price_of_product2
disctp_prod2=price_of_product2-p2
print('')
print('3.')
prod3=input('  NAME OF THIRD PRODUCT :  ')
price_of_product3=float(input("  PRICE OF THIRD PRODUCT :  "))
discount_prod3=float(input('  DISCOUNT(IN %) ON THIRD PRODUCT :  '))
p3=(discount_prod3/100)*price_of_product3
disctp_prod3=price_of_product3-p3
print('')
print('4.')
prod4=input('  NAME OF FOURTH PRODUCT : ')
price_of_product4=float(input("  PRICE OF FOURTH PRODUCT :  "))
discount_prod4=float(input('  DISCOUNT(IN %) ON FOURTH PRODUCT : '))
p4=(discount_prod4/100)*price_of_product4
disctp_prod4=price_of_product4-p4
print('')
print('5.')
prod5=input('  NAME OF FIFTH PRODUCT : ')
price_of_product5=float(input('  PRICE OF FIFTH PRODUCT : '))
discount_prod5=float(input('  DISCOUNT(IN %) ON FIFTH PRODUCT : '))
p5=(discount_prod5/100)*price_of_product5
disctp_prod5=price_of_product5-p5
print('')

tot=disctp_prod1+disctp_prod2+disctp_prod3+disctp_prod4+disctp_prod5
tot_dsct=float(input('  DISCOUNT ON THE COMPLETE ORDER (in %) :  '))
disct=tot*(tot_dsct/100)
totpay=tot-disct
print('')
deliv=bool(input(' ELIGIBLE FOR FREE DELIVERY : '))
print('')
print('')
print ('ORDER SUMMARY :')
print('STATIONERY ITEM','                      PRICE', '                      DISCOUNT ON THE PRODUCT','                      DISCOUNTED PRICE')
print('')
print('                                                                                                                                                                   '     )
print('                                                                                                                                                                    ')
print( prod1, '               ','Rs.',price_of_product1,'                          '  ,  discount_prod1,'%' ,'                                   Rs.',disctp_prod1)
print( prod2 ,'                   ','Rs.',price_of_product2, '                           ' , discount_prod2,'%', '                                   Rs.',disctp_prod2)
print(prod3 ,'                  ','Rs.',price_of_product3, '                          ' , discount_prod3,'%', '                                   Rs.',disctp_prod3)
print( prod4, '                   ','Rs.',price_of_product4, '                          '  ,discount_prod4,'%', '                                  Rs.',disctp_prod4)
print( prod5, '             ','Rs.',price_of_product5,'                          ' , discount_prod5,'%', '                                   Rs.',disctp_prod5)
print('')
print('')
print ('ORDER TOTAL :')
print('                                                                                                                              ')
print( 'TOTAL : ','                                                               ', 'Rs.',               tot   )
print('')
print('DISCOUNT:', '                                                              ',tot_dsct ,'%'   )
print('DISCOUNTED PRICE:  ', '                                              .     ','Rs.',disct)

print('TOTAL PAYABLE AMOUNT :                                                  ','Rs.', totpay)
print('')
print('')
print('  DELIVERY DETAILS : ')
print('')
fnam=input('ENTER FIRST NAME :')
lnam=input('ENTER LAST NAME :')
mob=int(input('ENTER MOBILE NUMBER :'))
add=input('ENTER STREET ADDRESS :')
city=input('ENTER CITY :')
dist=input('ENTER DISTRICT :')
stat=input('ENTER STATE :')
pin=input('ENTER PIN CODE :')
print('')
print('  PAYMENT DETAILS : ')
print('')
pay=input('ENTER PAYMENT METHOD :')
print('')

# CALCULATION OF SIMPLE INTEREST

In [ ]:
# simple interest

# TASKS

# CONDITIONAL STATEMENTS: IF-ELSE

# TASKS

In [4]:
g=input("enter your gender : ")
a=int(input("enter your age : "))
if g=="MALE":
  print('you are alloted to hotel A')
  if a>=30:
   print('you are alloted to hotel building 1')
  else:
   print('you are alloted to hotel building 2')


else:
  print('you are alloted to hotel B')
  if a>=30:
   print('you are alloted to hotel building 1')
  else:
   print('you are alloted to hotel building 2')

enter your gender : MALE
enter your age : 45
you are alloted to hotel A
you are alloted to hotel building 1

# CALCULATION OF LEAP YEAR

#TASKS - TRAFFIC ROUND-ABOUT

# LOOPS : FOR LOOP WITH RANGE FUNCTION

In [ ]:
#FOR LOOP WITH RANGE FUNCTION { RANGE FUNCTION SYNTAX-  range(starting value, last value, difference between any 2 values)    }
for i in range(0,10):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#RANGE FUNCTION [SYNTAX-  range(starting value, last value, difference between any 2 values)   ]

for i in range(1,26,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [ ]:
#TASK- ODD NUMBERS FROM 1 TO 26

for i in range(1,26,2):
    print("odd",i)

odd 1
odd 3
odd 5
odd 7
odd 9
odd 11
odd 13
odd 15
odd 17
odd 19
odd 21
odd 23
odd 25

In [ ]:
#TASK- EVEN NUMBERS FROM 1 TO 26

for i in range(0,26,2):
  print('even', i)

even 0
even 2
even 4
even 6
even 8
even 10
even 12
even 14
even 16
even 18
even 20
even 22
even 24

#CALCULATION OF SUCCESIVE SUM

In [ ]:
#CALCULATION OF SUCCESIVE SUM (PRINTING VALUE OF EACH SUCCESSIVE SUM)

#[HERE,WE WRITE PRINT STATEMENT UNDER SUM VARIABLE]
#1+2+3+4+..+11

sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#CALCULATION OF SUCCESIVE SUM (PRINTING ONLY FINAL VALUE OF SUM)

#[HERE,WE WRITE PRINT STATEMENT UNDER FOR STATEMENT]

#1+2+3+4+..+11

sum=0
for i in range(1,11):
  sum=sum+i
print('sum:',sum)

sum: 55

In [ ]:
#HOMEWORK TASKS
#1    2+4+6+...+52 = 2+4+6+...+50+1

sum=1
for i in range(2,51,2):
  sum=sum+i
  print(sum)

print('')
print('')

sum=1
for i in range(2,51,2):
  sum=sum+i
print('sum:',sum)

3
7
13
21
31
43
57
73
91
111
133
157
183
211
241
273
307
343
381
421
463
507
553
601
651


sum: 651

In [ ]:
#2      1+8+15+22+29+...+100 = 1+8+15+22+29+...+99+1

sum=1
for i in range(1,100,7):
  sum=sum+i
  print(sum)


print('')
print('')

sum=1
for i in range(1,100,7):
     sum=sum+i
print('sum:',sum)

2
10
25
47
76
112
155
205
262
326
397
475
560
652
751


sum: 751

In [ ]:
#3      3+6+9+...+50 = 3+6+9+...+48+2

sum=2
for i in range(3,51,3):
  sum=sum+i
  print(sum)

print('')
print('')

sum=2
for i in range(3,51,3):
  sum=sum+i
print('sum:', sum)

5
11
20
32
47
65
86
110
137
167
200
236
275
317
362
410


sum: 410

# CALCULATION OF FACTORIAL

In [ ]:
# CALCULATION OF FACTORIAL
fact=1
for i in range(1,6):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

#SUM OF FACTORIAL VALUES

In [ ]:
#HOMEWORK TASKS

#1!+2!+3!+4!+...+6!
s=0
for j in range(1,7):
  f=1
  for i in range(1,j+1):
    f=f*i
  s=s+f
  print(s)

1
3
9
33
153
873

In [ ]:
# 4!+5!+6!+..+10!

sum=0
for j in range(4,11):
  fact=1
  for i in range(1,j+1):
    fact=fact*i
  sum=sum+fact
  print(sum)

24
144
864
5904
46224
409104
4037904

In [ ]:
# 1!+3!+5!+7!+9!

sum=0
for j in range(1,10,2):
  fact=1
  for i in range(1,j+1):
    fact=fact*i
  sum=sum+fact
  print(sum)

1
7
127
5167
368047

In [ ]:
# 1!+2!+3!+4!+5!

s=0
for j in range(1,6):
  f=1
  for i in range(1,j+1):
    f=f*i
  s=s+f
  print(s)

1
3
9
33
153

#FIBONACCI SERIES

In [ ]:
# FIBONACCI SERIES
#  0,1,1,2,3,5,8,13,21,34

t1=0
t2=1
n=int(input("enter a number  : "))
print(t1)
print(t2)
for i in range(3,n+1):
  # or for i in range(1,n-1):
  t3=t1+t2
  t1=t2
  t2=t3
  print(t3)

enter a number  : 10
0
1
1
2
3
5
8
13
21
34

#CALCULATION OF HCF AND LCM

In [ ]:
# HCF AND LCM

# HCF OF 7,9

a=7
b=9
if a>b:
 small=b
else:
 small=a
for i in range(1, small+1):
    if a%i==0 and b%i==0:
      hcf=i
print(hcf)

1

In [ ]:
# HCF OF 10,20

a=10
b=20
if a>b:
 small=b
else:
 small=a
for i in range(1, small+1):
    if a%i==0 and b%i==0:
      hcf=i
print(hcf)

10

In [ ]:
# LCM OF 7,9

a=7
b=9

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

63

In [ ]:
# LCM OF 10,20
a=10
b=20

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

20

In [ ]:

# LCM OF 15,20

a=15
b=20

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

60

In [ ]:
# LCM OF 150,225

a=150
b=225

if a>b:
 big=a
else:
 big=b
product=a*b
for i in range(big,product+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

450

#PRIME NUMBERS

In [37]:
# 289
is_prime=True
n=int(input('enter a number  :'))
for i in range(2,n):
   if n%i==0:
    is_prime=False
    break
if is_prime:
    print( n, 'is a prime number')
else:
    print( n, 'is not a prime number')

enter a number  :21
21 is not a prime number

# WHILE LOOP

In [1]:
# PRINTING VALUES 5,4,3,2,1

n=5

while n>0:
  print(n)
  n=n-1

5
4
3
2
1

In [11]:
# PRINTING SUM OF VALUES  5+4+3+2+1

n=5
sum=0
while n>0:
 sum=sum+n
 print(sum)
 n=n-1

5
9
12
14
15

In [44]:
# PRINTING VALUES BY SEPARATING ALL DIGITS num=12345
num=12345
while num>0:
  digit=num%10
  num=num//10
  # or num=int(num/10)
  print(digit)

5
4
3
2
1

# SUM OF DIGITS AND REVERSING THE DIGITS USING WHILE LOOP

In [45]:
# SUM OF DIGITS IN 6789

num=6789
sum=0
while num>0:
  digit=num%10
  num=num//10
  # print(digit)
  sum=sum+digit
  print(sum)

9
17
24
30

In [46]:
# REVERSING THE DIGITS 6789

num=6789
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

9876

In [47]:
# REVERSE AND SUM OF DIGITS 6789
num=6789
rev=0
sum=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
  sum=sum+digit
print('SUM - ', sum)
print('REVERSED VALUE - ' , rev)

SUM -  30
REVERSED VALUE -  9876

In [48]:
# REVERSE THE DIGITS 98765
num=98765
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

56789

In [49]:
# REVERSE AND SUM OF DIGITS 98765
num=98765
rev=0
sum=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
  sum=sum+digit
print('SUM - ', sum)
print('REVERSED VALUE - ' , rev)

SUM -  35
REVERSED VALUE -  56789

# INDEXING AND PRINTING A VALUE IN A STRING

In [34]:
# INDEXING AND PRINTING A VALUE IN A STRING

string='RAJKUMAR'
#PRINTING FROM J-A
print(string[2:7])
'''(for last limit of string value, we add 1 to the index of the letter)'''

JKUMA

'(for last limit of string value, we add 1 to the index of the letter)'

In [35]:
# INDEXING AND PRINTING A VALUE IN A STRING

string='RAJKUMAR'
#PRINTING FROM K-M
print(string[3:6])
'''(for last limit of string value, we add 1 to the index of the letter)'''

KUM

'(for last limit of string value, we add 1 to the index of the letter)'

In [36]:
# PRINTING A STRING FROM THE START, TILL A VALUE

string='RAJKUMAR'
#PRINTING FROM R-U
print(string[:5])
'''(for first limit of string value, we leave it blank)'''

RAJKU

'(for first limit of string value, we leave it blank)'

In [37]:
# PRINTING A STRING FROM A VALUE, TILL THE END
 # single (:) -for slicing the string

string='RAJKUMAR'
#PRINTING FROM A-R
print(string[1:])
'''(for last limit of string value, we leave it blank)'''

AJKUMAR

'(for last limit of string value, we leave it blank)'

In [38]:
# PRINTING A STRING USING NEGATIVE/REVERSE INDEXING
    # single (:) -for slicing the string

string='RAJKUMAR'
#PRINTING FROM A-U from reverse
print(string[-7:-3])

'''(for reverse indexing of string value, we start from -1,-2.... from behind)'''

AJKU

'(for reverse indexing of string value, we start from -1,-2.... from behind)'

In [39]:
# PRINTING A STRING USING NEGATIVE/REVERSE INDEXING
    # single (:) -for slicing the string

string='RAJKUMAR'
#PRINTING FROM J-U from reverse
print(string[-6:-3])

'''(for reverse indexing of string value, we start from -1,-2.... from behind)'''

JKU

'(for reverse indexing of string value, we start from -1,-2.... from behind)'

In [40]:
# SLICING AND REVERSING THE STRING

string='RAJKUMAR'
#PRINTING FROM REVERSE
print(string[::-1])

'''(for reverse indexing of string value, we start from -1,-2.... from behind)
single (:) -for slicing the string
 second (:) -for reversing the string'''

RAMUKJAR

'(for reverse indexing of string value, we start from -1,-2.... from behind)\nsingle (:) -for slicing the string\n second (:) -for reversing the string'

In [41]:
# SLICING AND REVERSING A STRING BY JUMPING/SKIPPING VALUES

string='RAJKUMAR'
#PRINTING FROM REVERSE AND SKIPPING 1 VALUE
print(string[::-2])

'''(for reverse indexing of string value, we start from -1,-2.... from behind)
single (:) -for slicing the string
 second (:) -for reversing the string'''

RMKA

'(for reverse indexing of string value, we start from -1,-2.... from behind)\nsingle (:) -for slicing the string\n second (:) -for reversing the string'

In [42]:
# SLICING AND REVERSING A STRING
# PALLINDROME IS THE STRING THAT GIVES SAME RESULT ON REVERSING

string='5665'
#PRINTING FROM A-U from reverse
print(string[::-1])
'''(for reverse indexing of string value, we start from -1,-2.... from behind)
single (:) -for slicing the string
 second (:) -for reversing the string'''

5665

'(for reverse indexing of string value, we start from -1,-2.... from behind)\nsingle (:) -for slicing the string\n second (:) -for reversing the string'

In [43]:
# SLICING AND REVERSING A STRING
# PALLINDROME IS THE STRING THAT GIVES SAME RESULT ON REVERSING

string='deed'
print(string[::-1])


'''(for reverse indexing of string value, we start from -1,-2.... from behind)
single (:) -for slicing the string
 second (:) -for reversing the string'''

deed

'(for reverse indexing of string value, we start from -1,-2.... from behind)\nsingle (:) -for slicing the string\n second (:) -for reversing the string'

In [51]:
# REVERSING AND CHECKING FOR BEING A PALLINDROME- 566665
num=566665
rev=0
n=num
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

if n==rev:
  print('it is a pallindrome')
else:
  print('it is not a pallindrome')

566665
it is a pallindrome

In [64]:
# TASK- REVERSING AND CHECKING FOR BEING A PALLINDROME
str='rajusharma'
s=str[::-1]
print(s)
if s==str:
  print('it is a pallindrome')
else:
  print('it is not a pallindrome')

amrahsujar
it is not a pallindrome

In [94]:
# TASK- CHECKING FOR PALLINDROME AND NUM/2
number='655556'

num=655556
result=num/2

print(number[::-1])
if n==number:
 print('it is a pallindrome')
else:
 print('it is not a pallindrome')

print(result)

655556
it is a pallindrome
327778.0

# SOME IN-BUILT FUNCTIONS IN PYTHON

In [99]:
# startswith function
a=' i am shyam '
b=a.startswith(' i ')
print(b)

True

In [101]:
# startswith function
a=' i am shyam '
b=a.startswith(' ')
print(b)

True

In [102]:
# startswith function
a='xyz'
b=a.startswith('x')
print(b)

True

In [103]:
# endswith function
a=' i am shyam '
b=a.endswith(' m ')
print(b)

False

In [104]:
# endswith function
a=' i am shyam '
b=a.endswith(' ')
print(b)

True

In [105]:
# endswith function
a='i am shyam'
b=a.endswith('m')
print(b)

True

In [106]:
# endswith FUNCTION
a='xyz'
b=a.endswith('z')
print(b)

True

In [109]:
# strip function
a=' i am shyam '

print(a.strip())

i am shyam

In [120]:
# strip function
a='xyz'

print(a.strip('z'))

xy

In [121]:
# strip function
a='xyz'

print(a.strip('x'))

yz

In [123]:
# replace function
a=' i am shyam '

print(a.replace('i am','u are'))

 u are shyam

In [125]:
# replace function
a=' i am shyam '

print(a.replace(' am ',' was '))

 i was shyam

In [126]:
# replace function
a=' i am shyam '

print(a.replace('am',''))

 i  shy

In [127]:
# replace function
a=' i am shyam '

print(a.replace(' am ',' '))

 i shyam

In [128]:
# replace function
a='xyz'

print(a.replace('y','u'))

xuz

In [129]:
# length function
a=' i am shyam '
b=len(a)
print(b)

12

In [130]:
# length function
a='i am shyam'
b=len(a)
print(b)

10

In [131]:
# length function
a='xyz'
b=len(a)
print(b)

3

In [7]:
# append function

a=[10,20,30]
a.append(50)
print(a)

[10, 20, 30, 50]

In [8]:
# remove function

a=[7,8,9,5]
a.remove(9)
print(a)

[7, 8, 5]

In [9]:
# sort function

a=[5,1,2,4]
a.sort()
print(a)

[1, 2, 4, 5]

In [10]:
# TASK

a=[5,6,7,8]
a.append(8)
a.remove(7)
print(a)

[5, 6, 8, 8]

In [18]:
# TASK

a=[2,4,5,6,7,8]
a.append(8)
a.remove(7)

print(a[-3:-1])

[6, 8]

In [6]:
# TASK- BILL

item_names=[]
prices=[]
discounts=[]
total_bill=0
total_discount=0

n=int(input("enter name of item : "))

for i in range (n):
  item=input(f"enter name of iten number {i+1}.:")
  price=int(input(f"enter price of iten number {i+1}.:")).
  discount=int(input(f"enter discount percents of iten number {i+1}.:"))

  item_names.append(item)
  prices.append(price)
  discounts.append(discount)
  total_bill= total_bill + price
  total_discount=total_discount+price*discount/100
payable_bill=total_bill-total_discount

print("total bill is :" , total_bill)
print("payable bill is :" , payable_bill)

enter name of item : 2
enter name of iten number 1.:pencil box
enter price of iten number 1.:200
enter discount percents of iten number 1.:5
enter name of iten number 2.:pen
enter price of iten number 2.:25
enter discount percents of iten number 2.:2
total bill is : 225
payable bill is : 214.5

In [19]:
# HOMEWORK TASK- HOSPITAL MANAGEMENT SYSTEM

patient_info=[]
patient_age=[]
disease=[]
hospital_branch=[]
hospital_department=[]
doctor_name=[]