<a href="https://colab.research.google.com/github/n032dcm-crypto/python9am/blob/main/python9amloopsnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#FOR LOOP
for i in range(0,10):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [2]:
for i in range(1,26,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [7]:
for i in range(1,26,2):
    print("odd",i)

odd 1
odd 3
odd 5
odd 7
odd 9
odd 11
odd 13
odd 15
odd 17
odd 19
odd 21
odd 23
odd 25

In [10]:
for i in range(0,26,2):
  print('even', i)

even 0
even 2
even 4
even 6
even 8
even 10
even 12
even 14
even 16
even 18
even 20
even 22
even 24

In [5]:
sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [28]:
sum=0
for i in range(1,11):
  sum=sum+i
print('sum:',sum)

sum: 55

In [27]:
#HOMEWORK TASKS
#1    2+4+6+...+51

sum=0
for i in range(2,51,2):
  sum=sum+i
  print(sum)

print('')
print('')

sum=0
for i in range(2,51,2):
  sum=sum+i
print('sum:',sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650


sum: 650

In [26]:
#2      1+8+15+22+29+...+100

sum=0
for i in range(1,107,7):
  sum=sum+i
  print(sum)


print('')
print('')

sum=0
for i in range(1,107,7):
     sum=sum+i
print('sum:',sum)

1
9
24
46
75
111
154
204
261
325
396
474
559
651
750
856


sum: 856

In [25]:
#3      3+6+9+...+50

sum=0
for i in range(3,50,3):
  sum=sum+i
  print(sum)

print('')
print('')

sum=0
for i in range(3,50,3):
  sum=sum+i
print('sum:', sum)

3
9
18
30
45
63
84
108
135
165
198
234
273
315
360
408


sum: 408